<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    <div class="project-container">
        <div>
            <h1>Portfolio</h1>
            <h2>For Recent Projects, Kindly refer to my GitHub Repository</h2>
            <p class="project-link"><a href="https://github.com/36senm" target="_blank">GitHub Repository</a></p>
        </div>
    </div>

    {% include base_path %}

    {% for post in site.portfolio %}
        {% include archive-single.html %}
    {% endfor %}

    <!-- Add margin at the bottom of the page -->
    <div style="height: 200px;"></div>
</body>
</html>
